body{
	width: 700px;
	font-family: arial;
	font-size: 10pt;


}
.head{
	font-family: arial;
	font-size: 10pt;
}
.header{
	display: block;
	width: 100%;
}
.logo{
	padding: 5px;
	margin-right: 3px;
	width: 82px;
	height : 85px;
	display: inline-block;
	float: left;
	background-image: url('../img/koperasi.png');
	background-size: 85px 85px;
	background-repeat: no-repeat;
}
.header2{
	padding: 5px;
	margin-left: 3px;
	height : 85px;
	width: 580px;
	display: inline-block;

}
.section{
	padding: 5px;
}
.section_pengajuan{
	padding-left: 100px;
}
.section_pengajuan_isi{
	display: block;
	width: 532px;
	height: auto;
	text-align: justify;

}
.section1{
	margin-top: 15px;
}
.a{
	padding: 5px;
	margin-right: 3px;
	width: 330px;
	height : auto;
	display: inline-block;

}
.b{
	padding: 5px;
	margin-left: 3px;
	width: 330px;
	height : auto;
	display: inline-block;

}
p{
	font-size: 10pt;
	margin-bottom: 2px;
	margin-top: 2px;

}
.n{
	padding: 5px;
	margin-left: 3px;
	width: 330px;
	height : 100px;
	display: inline-block;
}
.ttd{
	text-align: center;
}
table{
	width: 100%;
}
